@media (max-width: 769px) {
  .parentSpan {
    display: block;
    overflow: hidden;
  }

  .childSpan {
    display: block;
    overflow: hidden;
    position: relative;
  }

  #loader .loader-span .childSpan {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100dvw;
    padding-left: 32%;
    pointer-events: none;
  }

  #upper-text h3 {
    font-size: 1.5dvw;
    width: 15%;
    line-height: 1.7dvw;
  }

  #loader .loader-parent span {
    left: 75%;
    font-size: 4dvw;
    font-weight: 100;
  }

  #loader .loader-parent span:nth-child(2) {
    left: 88%;
  }

  #loader .loader-parent span:nth-child(3) {
    left: 100%;
  }

  #loader .loader-parent span:nth-child(4) {
    left: 103.5%;
  }

  #nav a {
    display: none;
  }

  #nav a:nth-child(1) {
    text-decoration: underline;
    font-size: 1.5dvw;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    opacity: 1;
  }

  #nav a:nth-child(4) {
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-size: 1.5dvw;
    opacity: 1;
  }

  .anchorLine {
    display: none;
  }

  #home {
    height: 280dvh;
  }

  #home #content {
    height: 24%;
    padding: 10% 4% 3% 7%;
  }

  #content-row-1 {
    height: 40%;
  }

  #content-row-1 h2 {
    font-size: 16dvw;
  }

  #content-para-1 {
    display: none;
  }

  #content-para-2 {
    display: none;
  }

  #content-row-2 {
    height: 55%;
  }

  #icon {
    display: none;
  }

  #text-content {
    flex-direction: column;
    justify-content: center;
  }

  #content-row-2 h2 {
    font-size: 16dvw;
    text-align: left;
    margin-top: -2rem;
  }

  #content-row-2 h3 {
    font-size: 8dvw;
    margin-right: -10dvw;
    text-align: right;
    position: relative;
  }

  #content-row-2 h3::before {
    content: "";
    width: 60%;
    height: 0.4rem;
    background-color: var(--span-text-color);
    position: absolute;
    left: -70%;
    top: 50%;
  }

  #project-images {
    z-index: 1;
  }

  #about-para {
    display: none;
  }

  .media-screen-para {
    display: block;
    font-size: 1.7rem;
    position: absolute;
    bottom: 12.5%;
    padding: 0 3rem 0 3rem;
    color: var(--primary-text-color);
    font-weight: 540;
  }

  .media-screen-para span {
    color: var(--span-text-color);
  }

  .media-about-para {
    display: block;
    opacity: 0.5;
    position: absolute;
    bottom: 22%;
    font-size: 0.8rem;
    padding-left: 3rem;
    color: var(--primary-text-color);
  }

  .media-screen-contact {
    display: block;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    position: absolute;
    bottom: 6%;
    left: 20%;
  }

  .media-screen-contact a {
    color: var(--primary-text-color);
    font-size: 0.8rem;
  }

  #cards {
    width: 100%;
    height: 90%;
    right: -10%;
  }

  .card {
    height: 75%;
    width: 70%;
  }

  #exprience-techologies {
    display: none;
  }

  #svg-line-affect {
    height: 50dvh;
    flex-direction: column;
    justify-content: flex-end;
  }

  .media-screen-svg-tech-para {
    display: block;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .media-screen-svg-tech-para #hero-para {
    font-size: 0.9rem;
    width: 25%;
    opacity: 1;
    color: var(--primary-text-color);
    line-height: 1.2;
    margin-left: -10.5rem;
    margin-bottom: 2rem;
  }

  .media-screen-svg-tech-para #technologies-para {
    font-size: 1.3rem;
    color: var(--primary-text-color);
    width: 50%;
    padding-top: 2rem;
  }

  #page-1 #page-1-title h2 {
    font-size: 12vw;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  #project-row-1 {
    flex-direction: column;
    justify-content: center;
    height: 150dvh;
    padding: 0 4dvw;
    gap: 3rem;
  }

  .project-1 {
    width: 100%;
  }

  .project-1 .project-details {
    bottom: 37%;
  }

  .project-2 {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }

  .sm-card .project-details {
    bottom: 37%;
    left: 4%;
  }

  #project-row-2 {
    height: 70dvh;
    padding: 0 4dvw;
    margin-top: 0.5rem;
  }

  #project-row-2 .project-3 {
    height: 100%;
    width: 100%;
  }

  .project-3 .project-details {
    bottom: 37%;
  }

  #project-row-3 {
    height: 150dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 0.5rem;
    padding: 0 4dvw;
  }

  .project-4 {
    height: 80dvh;
    width: 100%;
    left: 0;
  }

  .project-4 img {
    width: 102%;
  }

  .project-4 .project-details {
    bottom: 37%;
  }

  .project-5 {
    height: 80dvh;
    width: 100%;
    left: 0%;
    bottom: 0;
  }

  .project-5 img {
    width: 102%;
    object-position: top;
  }

  .project-5 .project-details {
    bottom: 2%;
  }

  .btn {
    width: 10rem;
    height: 6vw;
    font-size: 1.5rem;
  }

  footer {
    height: 180dvh;
  }

  .footer-container {
    border: none;
    border-radius: 0;
  }

  #footer-heading {
    height: 15rem;
    width: 70%;
    margin-top: 1rem;
  }

  #footer-heading .media-screen-footer-header {
    display: block;
    font-size: 12dvw;
    font-weight: 540;
    height: 100%;
  }

  #footer-heading > h2 {
    display: none;
  }

  #footer-heading .media-screen-footer-header .footer-parent-span {
    display: block;
    height: 6rem;
  }

  .media-screen-footer-header .footer-child-span {
    width: 100%;
    margin-top: 0.5rem;
    display: block;
    height: 100%;
    transform: translate(0, 500%);
  }

  #footer-buttons {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    padding: 4rem 2rem;
    position: relative;
  }

  .footer-container .social-account {
    width: 90dvw;
    height: 13dvw;
    margin-top: 0;
  }

  .social-icon {
    width: 6dvw;
    height: 6dvw;
  }

  #technology-detail {
    height: 20dvh;
    width: 100dvw;
    position: absolute;
    bottom: 0;
    padding: 2dvw 5dvw;
    display: flex;
  }

  .footer-project-details a {
    font-size: 2dvw;
  }

  .footer-project-details p {
    font-size: 2dvw;
  }

  .close-btn {
    height: 4dvw;
    width: 4dvw;
    right: 2%;
    margin-top: 3.2rem;
  }

  .footer-slogen {
    flex-direction: column;
    margin-top: 0;
    font-size: 2dvw;
  }

  .footer-slogen a {
    color: #8b9d9b85;
    font-size: 2dvw;
  }

  .footer-slogen p {
    display: inline-block;
    line-height: 1.8;
  }
}

@media (max-width: 890px) {
  #footer-buttons {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
